<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>제목</title>
<!-- jquery 최신버전 -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
	
	<h1 th:text="제목 + ${viewDetail.title}"></h1>
	
	<div th:text="작성자 + ${viewDetail.writer.nickname}"></div>
	<div th:text="객체 + ${viewDetail.writer}"></div>
	  
 	<div th:text="작성시간 + ${viewDetail.writeDateTime}" ></div> 
	<div th:text="내용 + ${viewDetail.text}"></div>
	

</body>
</html>