<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>제목</title>
<!-- jquery 최신버전 -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>

	
	<span>경기가 종료된 방 리스트입니다.</span>
	<table>
		<th:block th:if="${#lists.isEmpty(historis)}">
			<tr>
		        <td>
		        	종료된 경기가 없습니다
		        </td>
		    </tr>
		</th:block>
		    <tr th:each="history : ${historis}" >
		        <td>
		        	<!-- @PathVariable의 정석 예시 -->
		            <a th:href="@{/board/history/{gameNum}(gameNum=${history.gameNum})}"
		               th:text="${history.roomName}"></a>
		        </td>
		    </tr>
	    
	</table>

</body>
</html>