<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 파비콘아이콘? 이 없다고 에러가 나오는것을 방지 -->
<!-- 없어도 실행은 됨 -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<meta charset="UTF-8">
<title>바둑판 배경</title>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link th:href="@{/css/omokBoardPage.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{/js/omokBoardPage.js}" th:inline="javascript" type="text/javascript"></script>
</head>
<body>
	
	<nav th:replace="~{navbar :: navbarFragment}"></nav>

	<div class="board_space">
		<div class="back_space" id="board_space"></div>
		<div class="back_board" id="back_board"></div>
		<div class="stone_board" id="stone_board"></div>
	</div>
	
	<div class="function_space">
		<div>
			<div>메세지 창</div>
			<textarea rows="8" cols="50" class="msgArea" id="msgArea" readonly="readonly"></textarea>
		</div>
		<input type="text" placeholder="보낼 메세지를 입력하세요." class="content" onkeydown="inputEnterKey(event)">
		<button type="button" class="sendBtn" onclick="sendMessage()">전송</button>
		<input id="roomID" th:value="${room.roomID}" hidden="hidden">
	    <input id="userNum" th:value="${userNum}" hidden="hidden">
	    <input id="stone" th:value=${stone} hidden="hidden">
	    <input id="turn" value="black" hidden="hidden">
	    
	    <div id="timer"></div>
	</div>
	
</body>
</html>