<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<meta charset="UTF-8">
<title>제목</title>
<!-- jquery 최신버전 -->
<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/test.js}" th:inline="javascript" type="text/javascript"></script>
<style>
	
	
</style>
</head>
<body>
	<input class="targetText" id="targetText">
	<button type="button" class="sendBtn" onclick="fun1()">실행</button>
	
	<script type="text/javascript">
		
		var regex =  /^\s+/;
		function fun1(){
			var targetText = $('#targetText').val();
			console.log(targetText);
			
			if(regex.test(targetText)){
				console.log("공백으로 시작")
			} else{
				console.log("문자열로 시작")
			}
		}
	
	</script>
	
</body>
</html>