<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<meta charset="UTF-8">
<title>제목</title>
<!-- jquery 최신버전 -->
<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link th:href="@{/css/test.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{/js/test.js}" th:inline="javascript" type="text/javascript"></script>
<style>
	
	
</style>
</head>
<body>
	<input class="targetText" id="targetText">
	<button type="button" class="sendBtn" onclick="func1()">실행</button>
	
	
	<script type="text/javascript">
	
	</script>
	
</body>
</html>