<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osite.omok.mapper.HistoryCommentMapper">

	<select id="getHistoryCommentList" resultType="com.osite.omok.dto.HistoryCommentDTO">
	
		select
			*
		from
			history_comment
		where
			game_num_game_num = #{gameNum}
		order by
			history_comment_num;
	
	</select>
	
	<insert id="saveComment" parameterType="HistoryComment">
		insert into history_comment(
			user_num_user_num,
			game_num_game_num,
			comment,
			write_date_time)
		values(
			#{userNum.userNum},
			#{gameNum.gameNum},
			#{comment},
			now());
	</insert>
	
	<delete id="deleteComment" parameterType="HistoryComment">
	
		delete from 
			history_comment
		where
			history_comment_num = #{historyCommentNum};
	
	</delete>
	
	<update id="updateComment" parameterType="HistoryComment">
		update 
			history_comment 
		set
			comment = #{comment},
			write_date_time = now()
		where
			history_comment_num = #{historyCommentNum}
		and
			user_num_user_num = #{userNum.userNum}
		and
			game_num_game_num = #{gameNum.gameNum};
			
	</update>
	
	
</mapper>