<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osite.omok.mapper.OmokOrderMapper">

	<select id="getOmokOrdersFromGameNum" resultType="com.osite.omok.dto.OrderDTO">

		select
			*
		from
			omok_order 
		where
			game_num_game_num = #{gameNum}
		order by
			y_line,
			x_line;
	
	</select>

</mapper>